.gift-item {
    margin: 10px;
    
}

.hua-text {
    padding: 40px;
    font-size: 300%;
    font-family: "Microsoft YaHei" ! important;  
    color:  #4db8ff;
    font-weight:900;
    text-shadow:#00f 3px 0 4px,#00f 0 3px 4px,#00f -3px 0 4px,#00f 0 -3px 4px;   
}

.gift-span {
    margin-left: 15px;
}